# 3D STL Multipart Maker — .gitignore — Versione: 0.4.1-beta — 2026-09-28 11:19
node_modules/
web/dist/
launcher/dist/
launcher/*.syso
release/
*.exe
# copia di lavoro dei workflow (vedi pubblica-github.ps1)
_github/
# copie di vecchie versioni presenti nella cartella locale (non fanno parte del repository)
sorgenti/
